<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <md-input-container>
    <%= f.label :login, 'Email/Username' %>
    <%= f.text_field :login, autofocus: true %>
  </md-input-container> <br>

  <md-button type='submit' class='md-raised md-primary'>Reset Password</md-button>

<% end %>
