<div id = flash>
 
 <% if flash[:error] %>
  <p><%= flash[:error] %></p></br>
 <% end %>
 <% if flash[:notice] %>
  <p><%= flash[:notice] %></p></br>
 <% end %>
</div>

<div>

    <%= content_tag :a, @shift.event_id %>
    <%= link_to('Add Shift', new_shift_path) %>

</div>

<h1> UpRise Shift Scheduler </h1>