/*
 *= require_tree .
 *= require angular-material
 *= require_self
 */

md-toolbar {
    background-color: #0A2A35 !important;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    width: 500px !important;
}

h3 {
    font-weight: bold !important;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 17px;
}

a {
    text-decoration: none !important;
}

.md-raised {
    background-color: #0A2A35 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

a.md-button {
    color: rgba(255, 255, 255, 0.65) !important;
}

md-card {
    color: black !important;
    border: rgba(0, 0, 0, 0.1) 1px solid !important;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

div.content {
    padding-left: 25px;
    padding-right: 25px;
}

md-input-container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.event-card-heading {
    text-align: center !important;
    margin-bottom: 25px;
}

.event-card-subtext {
    text-align: center !important;
    margin: 8px;
}

.event-card {
    height: 215px !important;
}

.flash {
    padding: 10px;
}

.error, .alert {
    background-color: rgba(255, 79, 59, 0.38);
}

.notice {
    background-color: rgba(255, 151, 51, 0.38);
}

.field_with_errors {
    display: inline;
}

.shift-card {
    color: rgba(255, 255, 255, 0.870588) !important;
    background-color: #0A2A35 !important;
    height: 50px !important;
}

.shift-information {
    display: inline-block;
    width: 32% !important;
    text-align: center !important;
}

md-icon {
    margin: 0 !important;
    color: rgba(0, 0, 0, 0.29);
}

.event-name {
    display: inline-block;
}

.modify-icon {
    margin-top: 20px !important;
    float: right !important;
}

md-select-value div._md-text.ng-binding {
    padding: 8px;
    display: inline-block !important;
    border-radius: 25px;
    background-color: rgba(11, 11, 11, 0.13);
    margin-bottom: 3px;
}

.select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

md-select {
    min-width: 172px;
}

.searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.notification_count {
    padding: 3px;
    margin-left: 3px;
    border-radius: 5px;
    vertical-align: middle !important;
    background-color: rgba(255, 33, 38, 0.8);
    color: white;
}