/*
 *= require_tree .
 *= require_self
 *= require angular-material
 */

md-toolbar {
    background-color: #0A2A35 !important;
}

h3 {
    font-weight: bold !important;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 17px;
}

md-card {
    color: black !important;
    border: rgba(0, 0, 0, 0.1) 1px solid !important;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

div.content {
    padding-left: 25px;
    padding-right: 25px;
}

md-input-container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.event-card-heading {
    text-align: center !important;
    margin-bottom: 25px;
}

.event-card-subtext {
    text-align: center !important;
    margin: 8px;
}

.event-card {
    height: 215px !important;
}

a {
    text-decoration: none !important;
}

a:visited {
    color: unset !important;
}

a:hover {
    color: unset !important;
}

.flash {
    padding: 10px;
}

.error, .alert {
    background-color: rgba(255, 79, 59, 0.38);
}

.notice {
    background-color: rgba(255, 151, 51, 0.38);
}

.field_with_errors {
    display: inline;
}

.shift-card {
    color: rgba(255, 255, 255, 0.870588) !important;
    background-color: #0A2A35 !important;
    height: 50px !important;
}

.shift-information {
    display: inline-block;
    width: 32% !important;
    text-align: center !important;
}

md-icon {
    margin: 0 !important;
    color: rgba(0, 0, 0, 0.29);
}

.event-name {
    display: inline-block;
}

.modify-icon {
    margin-top: 20px !important;
    float: right !important;
}